li {
  list-style-type: none;
}

#iconAdd:hover {
  color: green;
  cursor: pointer;
}
#iconDetail:hover {
  color: blue;
  cursor: pointer;
}

p {
  font-size: 16px;
  font-style: italic;
}
h1 {
  font-style: oblique;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: brown;
  text-decoration: underline;
  text-align: center;
}
.mat-form-field + .mat-form-field {
  margin-left: 8px;
}
