<form [formGroup]="searchForm">
  <input
    type="text"
    [(ngModel)]="titleFilm"
    (input)="searchFilm()"
    [(ngModel)]="lastNameActors"
    (input)="searchActor()"
    [(ngModel)]="lastNameDirector"
    (input)="searchDirector()"
    placeholder="search a actor, a director or a film"
    class="form-control"
    formControlName="allItems"
    [matAutocomplete]="auto"
  />
  <mat-autocomplete #auto="matAutocomplete">
    <mat-optgroup *ngIf="show"
      >Actor
      <mat-option *ngFor="let person of actorFiltered">
        <a (click)="detailActor(person)">
          {{ person.firstName }} {{ person.lastName }}
        </a>
      </mat-option>
    </mat-optgroup>
    <mat-optgroup *ngIf="show"
      >Director
      <mat-option *ngFor="let person of directorFiltered">
        <a (click)="detailDirector(person)">
          {{ person.firstName }} {{ person.lastName }}
        </a>
      </mat-option>
    </mat-optgroup>
    <mat-optgroup *ngIf="show"
      >Film
      <mat-option *ngFor="let film of filmFiltered">
        <a (click)="detailFilm(film)">
          {{ film.title }}
        </a>
      </mat-option>
    </mat-optgroup>
  </mat-autocomplete>
</form>
