div {
  width: 75%;
  margin-left: 15px;
  padding-top: 10px;
}

#panier {
  border: solid #32a1ce;
}

button {
  cursor: pointer;
}

span {
  color: blue;
  cursor: pointer;
}
.personName {
  font-size: 14px;

  color: black;
  cursor: default;
}
.personName2 {
  font-size: 14px;

  color: black;
  cursor: default;
}
h4 {
  color: purple;
}
h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: royalblue;
}
#birthdate {
  font-size: 11px;
  color: black;
}

#span {
  position: relative;
  margin-left: 80%;
}
