<h3>Add Movie</h3>
<div>
  <form [formGroup]="movieForm">
    <div class="form-group">
      <label for="title">Title</label>
      <input
        type="text"
        class="form-control"
        id="title"
        formControlName="title"
        placeholder="Enter a title"
      />
    </div>

    <div class="form-group">
      <label for="year">Year</label>
      <input
        type="date"
        min="1900-01-01"
        class="form-control"
        id="year"
        formControlName="year"
        placeholder="Enter the year of movie's parution"
      />
    </div>

    <div class="form-group">
      <label for="duration">Duration</label>
      <input
        type="number"
        class="form-control"
        id="duration"
        formControlName="duration"
        placeholder="Enter the movie's duration"
      />
    </div>

    <div class="form-group">
      <label for="nameGenres">Genre</label>

      <select id="nameGenres" class="form-control" formControlName="nameGenres">
        <option *ngFor="let genre of allgenre" [ngValue]="genre">
          {{ genre.nameGenres }} -
        </option>
      </select>
      <span (click)="goToAddGenre()">add new genre</span>
    </div>

    <div class="form-group">
      <label for="director">Director</label>

      <select id="director" class="form-control" formControlName="director">
        <option *ngFor="let person of alldirector" [ngValue]="person">
          <span class="personName">
            {{ person.lastName }} - {{ person.firstName }}</span
          >

          {{ person.birthdate }}
        </option>
      </select>
      <span (click)="goToAddDirector()">add new director</span>
    </div>

    <div id="tableActor">
      <table>
        <thead>
          <tr>
            Actor
          </tr>
        </thead>
        <tbody>
          <tr id="actor" *ngFor="let person of allactor">
            <td>
              <span class="personName">
                {{ person.lastName }} - {{ person.firstName }}</span
              >
              {{ person.birthdate }}
            </td>
            <td>
              <button (click)="addActorOnList(person)" class="btn btn-success">
                addActorOnShop
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <span (click)="goToAddActor()">add new actor</span>
    </div>

    <div *ngIf="show" class="form-group" formControlName="actor">
      <label for="actor"> </label>
      <div id="panier">
        <h4>Actor added</h4>
        <ul *ngFor="let person of actors">
          <li>
            <span class="personName">
              {{ person.lastName }} - {{ person.firstName }}</span
            >

            {{ person.birthdate }}
            <button class="btn btn-danger" (click)="deleteActorOnList(person)">
              Delete
            </button>
          </li>
        </ul>
      </div>
    </div>

    <button
      class="btn btn-success"
      (click)="addFilm()"
      [disabled]="movieForm.invalid"
      type="button"
    ></button>
  </form>
</div>
