<form [formGroup]="genreForm">
  <div class="form-group">
    <label for="genre">
      You want modify the genre :
      <h3>{{ genre.nameGenres }}</h3></label
    >
    <input
      type="text"
      class="form-control"
      id="nameGenres"
      formControlName="nameGenres"
      placeholder="Enter a genre"
    />
    <br />
    <button
      type="button"
      class="btn btn-success"
      (click)="upgrateGenre()"
      [disabled]="genreForm.invalid"
    >
      Upgrate Genre
    </button>
  </div>
</form>
