<nav>
  <div class="scrollmenu">
    <mat-icon id="home"><a routerLink="/home">home </a></mat-icon>

    <a id="film" routerLink="/film">Film</a>
    <a id="serie" routerLink="/serie">Série</a>
    <a id="livre" routerLink="/livre">Livre</a>
    <a id="genre" routerLink="/genre">Genre</a>
    <a id="Nationality" routerLink="/nationality">Nationality</a>
    <a id="person" routerLink="/person">Person</a>
    <a id="contact" routerLink="/contact">Contact</a>
    <mat-icon id="login"><a routerLink="/login"> account_circle </a></mat-icon>
  </div>
  <app-search id="search"></app-search>
</nav>
