<form [formGroup]="searchForm">
  <!-- <mat-form-field appearance="fill">
    <mat-label>All</mat-label>
    <mat-select>
      <input
        type="text"
        [(ngModel)]="lastNameActors"
        (input)="searchActor()"
        placeholder="search a actor"
        class="form-control"
        formControlName="actors"
      />
      <mat-option *ngFor="let person of actorFiltered" [value]="person">
        {{ person.firstName }} {{ person.lastName }}
      </mat-option>
    </mat-select>
  </mat-form-field> -->

  <mat-form-field appearance="fill">
    <mat-label>Actors</mat-label>
    <mat-select>
      <input
        type="text"
        [(ngModel)]="lastNameActors"
        (input)="searchActor()"
        placeholder="search a actor"
        class="form-control"
        formControlName="actors"
      />
      <mat-option *ngFor="let person of actorFiltered" [value]="person">
        {{ person.firstName }} {{ person.lastName }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <!-- <mat-form-field appearance="fill">
    <mat-label>Directors</mat-label>
    <mat-select>
      <input
        type="text"
        [(ngModel)]="lastNameActors"
        (input)="searchActor()"
        placeholder="search a actor"
        class="form-control"
        formControlName="actors"
      />
      <mat-option *ngFor="let person of actorFiltered" [value]="person">
        {{ person.firstName }} {{ person.lastName }}
      </mat-option>
    </mat-select>
  </mat-form-field> -->

  <!-- <mat-form-field appearance="fill">
    <mat-label>Films</mat-label>
    <mat-select>
      <input
        type="text"
        [(ngModel)]="lastNameActors"
        (input)="searchActor()"
        placeholder="search a actor"
        class="form-control"
        formControlName="actors"
      />
      <mat-option *ngFor="let person of actorFiltered" [value]="person">
        {{ person.firstName }} {{ person.lastName }}
      </mat-option>
    </mat-select>
  </mat-form-field> -->
</form>
