<h1>
  Upgrate Movie - {{ film.title }} by {{ film.director.firstName }}
  {{ film.director.lastName }}
</h1>
<div>
  <form [formGroup]="movieForm">
    <div class="form-group">
      <label for="title"><h3>Title</h3></label>
      <input
        type="text"
        class="form-control"
        id="title"
        formControlName="title"
        placeholder="Enter a title"
      />
    </div>
    <hr />
    <div class="form-group">
      <label for="date">Date</label>
      <input
        type="date"
        min="1900-01-01"
        class="form-control"
        id="date"
        formControlName="year"
        placeholder="Enter the date of movie's parution"
      />
    </div>
    <hr />
    <div class="form-group">
      <label for="duration"><h3>Duration</h3></label>
      <input
        type="number"
        class="form-control"
        id="duration"
        formControlName="duration"
        placeholder="Enter the movie's duration"
        min="60"
        max="240"
      />
    </div>
    <hr />
    <div id="tableGenre">
      <table>
        <thead>
          <h3>Genre(s) actual</h3>
          <tr class="actual" *ngFor="let genre of film.genres">
            <td>- {{ genre.nameGenres }}</td>
          </tr>
        </thead>
        <tbody>
          <h3>Genre(s) too add (Optional)</h3>
          <tr id="genre" *ngFor="let genre of allgenre">
            <td>
              {{ genre.nameGenres }}
            </td>
            <td>
              <button (click)="addGenreOnList(genre)" class="btn btn-success">
                addGenreOnList
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div *ngIf="show">
      <label for="genre"> </label>
      <div id="panier">
        <h4>Genre added</h4>
        <ul *ngFor="let genre of genres">
          <li>
            {{ genre.nameGenres }}
            <button class="btn btn-danger" (click)="deleteGenreOnList(genre)">
              Delete
            </button>
          </li>
        </ul>
      </div>
    </div>
    <hr />
    <div id="tableActor">
      <table>
        <thead>
          <h3>Actor actual</h3>
          <tr class="actual" *ngFor="let person of film.actors">
            <td>- {{ person.lastName }} {{ person.firstName }}</td>
          </tr>
        </thead>
        <tbody>
          <h3>Actor too add (Optional)</h3>
          <tr id="actor" *ngFor="let person of allactor">
            <td>
              <span class="personName">
                {{ person.lastName }} - {{ person.firstName }}</span
              >
              {{ person.birthdate }}
            </td>
            <td>
              <button (click)="addActorOnList(person)" class="btn btn-success">
                addActorOnShop
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div *ngIf="show">
      <label for="actor"> </label>
      <div id="panier">
        <h4>Actor added</h4>
        <ul *ngFor="let person of actors">
          <li>
            <span class="personName">
              {{ person.lastName }} - {{ person.firstName }}</span
            >

            {{ person.birthdate }}
            <button class="btn btn-danger" (click)="deleteActorOnList(person)">
              Delete
            </button>
          </li>
        </ul>
      </div>
    </div>

    <button
      type="button"
      class="btn btn-success"
      (click)="upgrateFilm()"
      [disabled]="movieForm.invalid"
    >
      Upgrate Film
    </button>
  </form>
</div>
