<h3>Add Movie</h3>
<div>
  <form  [formGroup]="movieForm">
    <div class="form-group">
      <label for="title">Title </label>
      <input type="text" class="form-control" id="title"  
      formControlName="title" placeholder="Enter a title">
    </div>
  
    <div class="form-group">
      <label for="year">Year</label>
      <input type="text" class="form-control" id="year"  
      formControlName="year" placeholder="Enter the year of movie's parution">
    </div>

    <div class="form-group">
      <label for="duration">Duration</label>
      <input type="text" class="form-control" id="duration"  
      formControlName="duration" placeholder="Enter the movie's duration">
    </div>

    <button
    class="btn btn-success"
    (click)="upgrateFilm()"
    [disabled]="movieForm.invalid"
    
    >
    Upgrate Film
</button>
  </form>
</div>