<div>
  <h1>List of nationalities ({{ nationalityLength }})</h1>

  <div>
    <br />
    <p>
      Add nationality
      <mat-icon (click)="goToAddNationality()" id="iconAdd">
        add_circle</mat-icon
      >
    </p>
    <hr />
    <form [formGroup]="searchForm">
      <input
        type="text"
        [(ngModel)]="country"
        (input)="searchNationality()"
        placeholder="search a nationality"
        class="form-control"
        formControlName="nationality"
      />
      <mat-autocomplete #auto="matAutocomplete" *ngIf="show">
        <mat-option *ngFor="let nationality of nationalityFiltered">
        </mat-option>
      </mat-autocomplete>
    </form>
    <br />

    <ul *ngFor="let nationality of nationalityFiltered">
      <li>
        <mat-icon (click)="detailNationality(nationality)" id="iconDetail">
          visibility
        </mat-icon>
        {{ nationality.country }}
      </li>
    </ul>
    <hr />
    <p>
      Add nationality
      <mat-icon (click)="goToAddNationality()" id="iconAdd">
        add_circle</mat-icon
      >
    </p>
  </div>
</div>
