<div>
  <h1>List of nationalities ({{ nationalityLength }})</h1>

  <div>
    <br />
    <p>
      Add nationality
      <mat-icon (click)="goToAddNationality()" id="iconAdd">
        add_circle</mat-icon
      >
    </p>
    <hr />
    <ul *ngFor="let nationality of nationalities">
      <li>
        <mat-icon (click)="detailNationality(nationality)" id="iconDetail">
          visibility
        </mat-icon>
        {{ nationality.country }}
      </li>
    </ul>
    <hr />
    <p>
      Add nationality
      <mat-icon (click)="goToAddNationality()" id="iconAdd">
        add_circle</mat-icon
      >
    </p>
  </div>
</div>
