<div>
    <form>
  
      <label for="Subject">Subject</label>
      <select id="Subject" name="Subject">
        <option value="Film">Film</option>
        <option value="Livre">Livre</option>
        <option value="Serie">Serie</option>
      </select>
  
      <label for="question">What's your question ?</label>
      <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
  <br>

      <input type="submit" value="Submit">
  
    </form>
  </div>