<h1> Le détail du film </h1>

<div>
    <table>
       <tbody> 
           <tr>Title :
                <td id="title"> {{film.title}}</td>
            </tr>
            <tr>
                <td id="year">Year : {{film.year}}</td>
            </tr>
            <tr>
                <td id="duration">Duration : {{film.duration}} min</td>
            </tr>
            <tr>
                <td id="genre">Director : {{person.lastName}}, {{person.firstName}}</td>
                
            </tr>
            <tr>
                <td id="genre">Genre : </td>
            </tr>
            <tr> 
                <th id="actor"> Actors :</th>
                <!-- <td *ngFor ="let person of persons | async" > </td> -->
            </tr>
        </tbody>       
    </table>

    <button
    (click)="goToUpgrateFilm(film)"
    class="btn btn-info"
    >
    Upgrate this movie
</button>
</div>