<h1>Le détail du film : {{ film.title }}</h1>

<div id="card">
  <mat-card class="card">
    <ul>
      <li id="year"><span class="li">Date :</span> {{ film.year }}</li>
      <li id="duration">
        <span class="li">Duration :</span> {{ film.duration }}minutes
      </li>
      <li id="director" (click)="detailDirector(film)">
        <span class="li">Directed by : </span>-
        <span class="list"
          >{{ film.director.firstName }} {{ film.director.lastName }}</span
        >
      </li>
      <li>
        <span class="li">Genres : </span>
        <ul *ngFor="let genre of film.genres" id="genre">
          <li (click)="detailGenre(genre)">
            -<span class="list"> {{ genre.nameGenres }}</span>
          </li>
        </ul>
      </li>
      <li>
        <span class="li">Nationalities : </span>
        <ul *ngFor="let nationlity of film.nationalities" id="nationality">
          <li (click)="detailNationality(nationality)">
            -<span class="list"> {{ nationlity.country }}</span>
          </li>
        </ul>
      </li>
      <li>
        <span class="li">Actors : </span>
        <ul *ngFor="let person of film.actors" id="actor">
          <li (click)="detailActor(person)">
            -<span class="list">
              {{ person.lastName }} {{ person.firstName }}</span
            >
          </li>
        </ul>
      </li>
    </ul>
  </mat-card>

  <button (click)="goToUpgrateFilm(film)" class="btn btn-info">
    Upgrate this movie
  </button>

  <button (click)="deleteFilm(film)" class="btn btn-danger">
    Delete
  </button>
</div>
