<h1>Le détail du film</h1>

<div>
  <table>
    <tbody>
      <tr>
        Title :
        <td id="title">{{ film.title }}</td>
      </tr>
      <tr>
        Date :
        <td id="year">{{ film.year }}</td>
      </tr>
      <tr>
        Duration :
        <td id="duration">{{ film.duration }} min</td>
      </tr>
      <tr>
        Director :
        <td id="director">
          {{ film.director | json }}
        </td>
      </tr>
      <tr>
        Genre :
        <td id="genre">{{ film.genres | json }}</td>
      </tr>
      <tr>
        Actors :
        <td id="actor">{{ film.actors | json }}</td>
        <!-- <td *ngFor ="let person of persons | async" > </td> -->
      </tr>
    </tbody>
  </table>

  <button (click)="goToUpgrateFilm(film)" class="btn btn-info">
    Upgrate this movie
  </button>
</div>
