div {
  display: inline-block;
  width: 50%;
}
.add {
  cursor: pointer;
  color: blue;
}
.personName:hover {
  font-family: fantasy;
  color: blue;
  cursor: pointer;
}

td {
  padding: 10px;
}
.person {
  cursor: pointer;
  width: 100%;
}
