<div id="tableDirector">
  <h1>Director</h1>
  <table>
    <span class="add" (click)="goToAddDirector()">add new director</span>
    <tbody>
      <tr id="director" *ngFor="let person of alldirector">
        <td (click)="detailDirector(person)">
          <div class="person">
            <span class="personName">
              {{ person.lastName }} - {{ person.firstName }}</span
            >
            ({{ person.birthdate }})
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <span class="add" (click)="goToAddDirector()">add new director</span>
</div>

<div id="tableActor">
  <h1>Actor</h1>
  <table>
    <span class="add" (click)="goToAddActor()">add new actor</span>
    <tbody>
      <tr id="actor" *ngFor="let person of allactor">
        <td (click)="detailActor(person)">
          <div class="person">
            <span class="personName">
              {{ person.lastName }} - {{ person.firstName }}</span
            >
            ({{ person.birthdate }})
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <span class="add" (click)="goToAddActor()">add new actor</span>
</div>
